<!DOCTYPE html>
<html lang="en">

<head th:fragment="header">

</head>

<body class="bg-gradient-primary">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                                </div>
                                <form class="user" action="#" method="POST" th:action="@{/createCoach}" th:object="${user}" >
                                    <div class="form-group">
                                        <input type="text" required="required" class="form-control form-control-user" placeholder="Username" th:field="${user.username}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" required="required" class="form-control form-control-user"placeholder="Password" th:field="${user.password}">
                                    </div>
                                    <div th:object="${coach}">
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control form-control-user" placeholder="firstName" th:field="${coach.firstName}">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control form-control-user" placeholder="lastName" th:field="${coach.lastName}">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control form-control-user" placeholder="phoneNo" th:field="${coach.phoneNo}">
                                </div>
                                <div class="form-group">
                                    <input type="date" required="required" class="form-control form-control-user" placeholder="dob" th:field="${coach.dob}">
                                </div>
                                <div class="form-group">
                                    <input type="integer" required="required" class="form-control form-control-user" placeholder="pin" th:field="${coach.pin}">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control form-control-user" placeholder="city" th:field="${coach.city}">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control form-control-user" placeholder="houseNo" th:field="${coach.houseNo}">
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control form-control-user" placeholder="street" th:field="${coach.street}">
                                </div>
                                        <div class="col-lg-3" th:object="${team}">
                                            <select class="form-control" id="testOrder" name="testOrder" th:field="${coach.teamId}">
                                                <option value="0">Select Team</option>
                                                <option th:each="team : ${teams}"
                                                        th:value="${team.teamId}"
                                                        th:text="${team.teamId}+' : '+${team.teamName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <button style="color:white;" type="submit" class="btn btn-primary btn-user btn-block">
                                        Create coach
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script th:replace="site/layouts/toast :: toast"></script>-->
</body>
</html>