<!DOCTYPE html>
<html lang="en">

<head th:fragment="header" th:replace="header :: header">
<body class="bg-gradient-primary">

<div class="my-form">

    <form class="user" action="#" method="POST" th:action="@{|/createSteal/${id}|}" th:object="${steal}" >

        <div class="form-group">
            <input type="datetime-local"  class="form-control item" placeholder="time" th:field="${steal.time}">
        </div>
        <div class="col-lg-3" th:object="${player}">
            <select class="form-control" id="testOrder" name="testOrder" th:field="${steal.playerId}">
                <option value="0">Select Player</option>
                <option th:each="player : ${players}"
                        th:value="${player.playerId}"
                        th:text="${player.playerId}+' : '+${player.firstName}+ ${player.lastName}" ></option>
            </select>
        </div>





        <button style="color:white;" type="submit" class="btn btn-primary btn-user btn-block">
            Add steal
        </button>
    </form>

</div>
<!--<script th:replace="site/layouts/toast :: toast"></script>-->
</body>
</html>