<!DOCTYPE html>
<html lang="en">

<head th:fragment="header" th:replace="header :: header">

</head>

<body class="bg-gradient-primary">

<div class="my-form">

                                <form class="user" action="#" method="POST" th:action="@{/createTeam}" th:object="${team}" >
                                    <div class="form-group">
                                        <input type="text" required="required" class="form-control item" placeholder="teamName" th:field="${team.teamName}">
                                    </div>

                                        <div class="form-group">
                                            <input type="text" required="required" class="form-control item" placeholder="PhoneNo" th:field="${team.phoneNo}">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" required="required" class="form-control item" placeholder="state" th:field="${team.state}">
                                        </div>
                                    <div class="form-group">
                                        <input type="text" required="required" class="form-control item" placeholder="city" th:field="${team.city}">
                                    </div>
                                        <div class="form-group">
                                            <input type="integer" required="required" class="form-control item" placeholder="pin" th:field="${team.pin}">
                                        </div>



                                    <button style="color:white;" type="submit" class="btn btn-primary btn-user btn-block">
                                        Create team
                                    </button>
                                </form>

</div>
<!--<script th:replace="site/layouts/toast :: toast"></script>-->
</body>
</html>