<!DOCTYPE html>
<html lang="en">
<head th:fragment="header" th:replace="header :: header">
<body>
<tr th:each="match: ${matchs}" >
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex team-vs">
            <span class="score"><td th:text="${match.team1Score}"></td>-<td th:text="${match.team2Score}"></td></span>
            <div class="team-1 w-50">
                <div class="team-details w-100 text-center">
                    <h3></td> <span></span></h3>
                    <ul class="list-unstyled">
                        <li><td th:text="${match.team1Id}"></td></li>
<!--                        <li>Eadie Salinas (12)</li>-->
<!--                        <li>Ashton Allen (10)</li>-->
<!--                        <li>Baxter Metcalfe (5)</li>-->
                    </ul>
                </div>
            </div>
            <div class="team-2 w-50">
                <div class="team-details w-100 text-center">

                    <h3><span></span></h3>
                    <ul class="list-unstyled">
                        <li><td th:text="${match.team2Id}"></td> </li>
<!--                        <li>Arham Stark (8)</li>-->
<!--                        <li>Stephan Murillo (9)</li>-->
<!--                        <li>Ned Ritter (5)</li>-->
                    </ul>
                </div>
            </div>
            <button>
                <a href="/createPlayer" id="matchDetail" >create player </a>
            </button>
        </div>
    </div>

</div>
</tr>
</body>
</html>