<!DOCTYPE html>
<html lang="en">

<head th:fragment="header" th:replace="header :: header">
<body class="bg-gradient-primary">

<div class="my-form">

    <form class="user" action="#" method="POST" th:action="@{|/updateCourt/${id}|}" th:object="${court}" >

        <div class="form-group">
            <input type="text" required="required" class="form-control item" placeholder="firstName" th:field="${court.courtName}">
        </div>
        <div class="form-group">
            <input type="text" required="required" class="form-control item" placeholder="lastName" th:field="${court.landmark}">
        </div>
        <div class="form-group">
            <input type="text" required="required" class="form-control item" placeholder="lastName" th:field="${court.capacity}">
        </div>



        <button style="color:white;" type="submit" class="btn btn-primary btn-user btn-block">
            Update Court
        </button>
    </form>

</div>
<!--<script th:replace="site/layouts/toast :: toast"></script>-->
</body>
</html>